[user]
	name = Max Smolens
	email = max.smolens@kitware.com
[push]
	default = simple
[core]
	editor = gvim --nofork
	excludesfile = ~/.gitignore
[alias]
	ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --name-status
	st = status
[rebase]
	autosquash = true
