[user]
	name = Max Smolens
	email = max.smolens@kitware.com
[push]
	default = simple
[pull]
	rebase = true
[diff]
	tool = meld
[difftool "kdiff3"]
	cmd = /usr/bin/kdiff3 \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = meld
[mergetool "kdiff3"]
	cmd = /usr/bin/kdiff3 \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	keepBackup = false
	trustExitCode = false
[core]
	editor = gvim --nofork
	excludesfile = ~/.gitignore
[alias]
	ls = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --name-status
	st = status
[rebase]
	autosquash = true
[rerere]
	enabled = true
[gui]
	fontui = -family \"DejaVu Sans\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
